html { 
	overflow-y:scroll;
}

body { 
	padding-top:50px; 
	padding-bottom:80px; 
}

.container {
	position: relative;
}

#todo-list{ 
	margin-bottom:30px;
}
.taskDone {
	text-decoration: line-through;
}

.jumbotron {
	color:#ffffff;
	background-color: #ffffff;
	background-image: url(../images/header.png);
}

.jumbotron h1 {
	display: inline-block;
	vertical-align: middle;
}

.todoNum, .btn{
	background-color: #a5738d;
	border: 1px solid #7b4462;
	color: #ffffff;
}

.btn:hover, .btn:active, .btn:focus {
	background-color: #a5738d;
	border: 1px solid #7b4462;
	outline: 0 none;
}

.removeTag, .sendTeg{
	float: right;
	margin-right: 5px;
	margin-left: 3px;
	vertical-align: middle;
	margin-top: 3px;
}

.container .jumbotron {
	width: 100%;
}

.editForm {
	text-align: center;
}

.editBtn{
	margin-top: 5px;
}

.myFooter .container>h6 {
	text-align: center;
	vertical-align: middle;
	padding-top: 10px;
}

@media(min-width:768px) {
	.jumbotron h1 {
	    font-size: 40px;
	}
}

@media(max-width:768px) {
	.jumbotron h1 {
	    font-size: 28px;
	}
}

